{% extends "base.html" %}
{% block content %}
    <div class="row">
        
        <div class="col-sm-10 col-md-9">
            <h3>{{ company.industy }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ comapany.about_us }}</p>
                    <p>{{ comapany.email }}</p>
                    <a href="{% url 'profile' %}" class="btn btn-default">Back to Profile</a>
                    <a href="{% url 'edit_company' company.id %}" class="btn btn-default">Edit Company Details</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}