{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col-12">
    <h1>Company Search Results</h1>
  </div>
  
<div class="col-md-6 panel">  
<div id="form-content">
    <form action="{% url 'filtered_company' %}" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="searchCompany">Search for a business</label>
            <input name="search-company" type="text">
            <input type="submit" id='submit' class='btn btn-outline-dark type-search button-spacing' value="Search" />
        </div>
      </div>
    </form>
</div>
</div>

<div class="col-md-6"> 
  {% for company in companies %}
  <div>
    <div class="card mb-3">
      <div class="card-body">
        <a href="{% url 'company_search' company.business_name %}"><h3 class="card-title">{{ company.business_name }}</h3></a>
        <span><p>{{ company.city }}</p></span>
      </div>
      <div class="card-footer">
      </div>
  </div>
  </div>
  {% endfor %}
  </div>
</div>




{% endblock %}