{% extends "base.html" %}
{% block content %}
<div id="form-content">
    <form action="{% url 'filtered_company' %}" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="searchCompany">Search for a business</label>
            <input name="search-company" type="text">
            <input type="submit" id='submit' class='btn btn-dark type-search' value="Search" />
        </div>
      </div>
    </form>
</div>

 <!-- Successful review added message -->
    <div>
        {% if messages %}

        <br><br><br>
        <div class="alert alert-success">
            <div class="messages">
    
                {% for message in messages %} 
                    {{ message }} 
                {% endfor %}
            </div>
        </div>
    </div>
        {% endif %}

    <div class="row">
        
        <div class="col-md-6">
            <span><h3>{{ company.business_name }}</h3></span>
            <span><p>{{ company.contact_email }}</p></span>
        </div>
        
        <div class="col-sm-10 col-md-4">
            <img class="profile_image resize" src="{{ MEDIA_URL }}{{ company.logo }}" alt="Company Logo">
        </div>
        
        <div class="col-md-6">
            <h5>About Us/Bio:</h5> <p>{{ company.about_us }}</p>
        </div>
        
        <div class="col-md-6">
            <h5>Primary Industry:</h5> <p>{{ company.industry }}</p>
        </div>
        
        <div class="col-md-6">
            <h5>Registered Business Address:</h5> <p>{{ company.address }}</p>
        </div>
        
        
        <div class="col-md-6">
            <div class="col-md-6">
                <h5>Overall Rating:</h5> <p>{{ company.average_review }}</p>
            </div>
            <h5>Overall Rating:</h5> 
            
            {% for key, value in company.average_review.items %}
            <p>{{ value }}</p>
            {% endfor %}
            
        </div>
           
    </div>

<div class="row">
    <div class="col">
        
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#reviewModal">Add a review</button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewModalLabel">{{ company.business_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div id="form-content">
                        <form action="{% url 'add_company_review' company.business_name %}" method="POST">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-12 col-md-6">
                              <label for="searchCompany">Add a Review</label>
                                  {{ company_form.as_p }}
                                <input type="submit" id='add_review' class='btn btn-dark type-search' value="Add_Review" />
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ooops- take me back!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
<h5>Recent Reviews</h5>
</div>
{% for review in reviews %}
  <div class="col">
        <h6>{{ review.created_by }}</h6>
        <p>{{ review.content|truncatewords:20 }}</p>
  </div>
  {% endfor %}


{% endblock %}