.listing {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin: 0 auto;
}

h1 {
    color: green;
}

body { 
    padding-top: 65px; 
}

.panel{
    background-color: #e6ffff;
      padding: 30px; 
}

.listingspanel{
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: blue;
}

.company_form{
    display: none;
}

.profile_image{
    max-width: 30vw;
}

/*.nonfield {
    display: none;
}
*/