.listing {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin: 0 auto;
}

h1 {
    color: green;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: blue;
}