{% extends 'base.html' %} 
{% load bootstrap %}
{% block content %}

<h1> Edit Listing </h1>

<div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form|bootstrap }}
    
    <button type="submit" class="btn btn-outline-dark">Save</button>
    <a class="btn btn-outline-dark" href="{% url 'profile' %}" role="button">Go Back</a>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Delete this Listing</button>
    
     <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ listing.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Listing?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ooops- take me back!</button>
                    <a id="delete_location" class="btn btn-outline-danger" href="{% url 'delete_listing' listing.id %}" role="button">Delete this Listing</a>
                    
                </div>
            </div>
        </div>
    </div>
    
   
</form>
</div>

{% endblock %}


        
        
    
   
