{% extends 'base.html' %}

{% block content %}


----------------------------------------------------------------------------------

<div class="row">
  <div class="col-12">
    <h1>Listings Page</h1>
  </div>
  
  {% for listing in listings %}
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ listing.image }}" alt="Card image cap">
      <div class="card-body">
        <a href=""><h3 class="card-title">{{ listing.title }}</h3></a>
        <p class="card-text">{{ listing.content }}</p>
      </div>
      <div class="card-footer">
        
    
      </div>
  </div>
  </div>
  {% endfor %}
</div>




{% endblock %}

