{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col-12">
    <h1>Search all listings</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div id="form-content">
        <form action="{% url 'filtered_results' %}" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="row">
                <input name="search-listings" type="text">
                <label for="searchListings">Search for listings by keyword</label>

              </div>
              <div class="row">
                <input type="submit" id='submit' class='btn btn-outline-dark type-search button-spacing' value="Search" />
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  
  <div class="col-md-4">
    <div id="form-content">
        <form action="{% url 'filtered_company' %}" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="row">
                  <input name="search-company" type="text">
                  <label for="searchCompany">Search for a business by name</label>
              </div>
              <div class="row">
                <input type="submit" id='submit' class='btn btn-outline-dark type-search button-spacing' value="Search" />
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  </div>


<div class="row "> 

  {% for listing in listings %}
  
  <div class="col-md-4 ">
    <div class="card mb-3">
      <div class = "card-header">
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ listing.image }}" alt="Card image cap">
      </div>
      <div class="card-body">
        <a href="{% url 'view_listing' listing.id %}"><h3 class="card-title">{{ listing.title }}</h3></a>
        <p class="card-text">{{ listing.content|truncatewords:20 }}</p>
      </div>
      <div class="card-footer">
        {% if listing.id in upvoted %}
        <span href="{{ listing.id }}"><i id="{{ listing.id }}" onclick="downvote(this)" class="fas fa-heart upvote{{ listing.id }}" style="color:red" name="{{ listing.id }}_red" ></i></span><span class="float-right"><p>Upvotes: {{ listing.upvotes }}</p> </span>
        {% else %}
        <span href="{{ listing.id }}"><i id="{{ listing.id }}" onclick="upvote(this)"class="fas fa-heart upvote{{ listing.id }}" style="color:black" name="{{ listing.id }}_black" ></i></span><span class="float-right"><p>Upvotes: {{ listing.upvotes }}</p> </span>
        {% endif %}
      </div>
  </div>
  </div>
  
  {% endfor %}
  </div>




{% endblock %}



