{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col-12">
    <h1>The Exchange</h1>
  </div>
  
<div id="form-content">
    <form action="{% url 'filtered_results' %}" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="searchListings">Search for listings</label>
            <input name="search-listings" type="text">
            <input type="submit" id='submit' class='btn btn-dark type-search' value="Search" />
        </div>
      </div>
    </form>
</div>

<div id="form-content">
    <form action="{% url 'filtered_company' %}" method="POST">
        {% csrf_token %}
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="searchCompany">Search for a business</label>
            <input name="search-company" type="text">
            <input type="submit" id='submit' class='btn btn-dark type-search' value="Search" />
        </div>
      </div>
    </form>
</div>
</div>

<div class="row"> 
  {% for listing in listings %}
  
  
  <div class="col-md-4 ">
    <div class="card h-100 ">
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ listing.image }}" alt="Card image cap">
      <div class="card-body">
        <a href="{% url 'view_listing' listing.id %}"><h3 class="card-title">{{ listing.title }}</h3></a>
        <p class="card-text">{{ listing.content|truncatewords:20 }}</p>
      </div>
      <div class="card-footer">
        {% if listing.id in upvoted %}
        <span id="{{ listing.id }}" onclick="upvote(this)"><i class="fas fa-heart upvote" style="color:red" ></i></span><span class="float-right"><p>Upvotes: {{ listing.upvotes }}</p> </span>
        {% else %}
        <span id="{{ listing.id }}" onclick="upvote(this)"><i class="fas fa-heart downvote" style="color:black" ></i></span><span class="float-right"><p>Upvotes: {{ listing.upvotes }}</p> </span>
        {% endif %}
      </div>
  </div>
  </div>
  
  
  {% endfor %}
</div>
{% endblock %}



