{% extends 'base.html' %}

{% block content %}
<h1> What does "Ex:Change" even mean? </h1>
<h5>Ex:Change :</h5>
<p>1. Ex: a prefix meaning “out of,” “from,” and hence “utterly,” “thoroughly,” and sometimes meaning “not” or “without” or indicating a former title, status, etc.; freely used as an English formative: exstipulate; exterritorial; ex-president</p>

<p>2. Change: verb (used with object), changed, chang·ing.
to make the form, nature, content, future course, etc., of (something) different from what it is or from what it would be if left alone:
to change one's name;
to change one's opinion;
to change the course of history.</p>

<p>Or: noun, change.
coins as opposed to paper currency.
"a handful of loose change"</p>

<p>Together, we've combined these defintions to give us our mission statement - "changing the future course of small business without 'money'"</p>
<h1> Thats great.. So how does it work...? </h1>

<img src="{{ MEDIA_URL }} xx">

{% endblock %}