{% extends 'base.html' %}

{% block content %}
<div class="row border-bottom border-dark space-top">
    <div class="col-12 text-center">
        <h1> What does "Ex:Change" even mean? </h1>
    </div>
    <div class="col-12 ">
        <h5>Ex:Change :</h5>
        <p>1. Ex: a prefix meaning “out of,” “from,” and hence “utterly,” “thoroughly,” and sometimes meaning “not” or <span class="intext">“without”</span> or indicating a former title, status, etc.; freely used as an English formative: exstipulate; exterritorial; ex-president</p>
        
        <p>2. Change: verb (used with object), changed, <span class="intext">chang·ing</span>.
        to make the form, nature, content, <span class="intext">future course</span>, etc., of (something) different from what it is or from what it would be if left alone:
        to change one's name;
        to change one's opinion;
        to change the course of history.</p>
        
        <p>Or: noun, change.
        coins as opposed to paper <span class="intext">currency</span>.
        "a handful of loose change"</p>
    </div>  
    <div class="col-12 text-center"> 
        <p class="mission">Or more simply put:</p>
        <br>
    </div>
    <div class="col-12 text-center ">
        <h1></h1>
       <p><span class="intext">"changing the future course of small business without 'money' as we know it"</span></p>
       <h1>💡</h1>
    </div>
    <div class="row space-below">
    <div class="col-2 ">
    </div>
    <div class="col-8">
        <p class="smallprint">And no, the colon (this thing > : not the thing that grumbles at awkward times in meetings) doesn't mean anything. Well, it is meant to highlight the whole ex(without) change(money) thing. Yes, we know its not correct English. No, we're not going to correct it. We're allowing ourselves a bit of creative license here. </p>
    </div>
    <div class="col-2">
    </div>
    </div>
</div>


<div class="row space-top">
    <div class="col-12 text-center ">
        <h1> Thats great.. So how does it work...? </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>For an intial fee of $4.99, you can sign up to gain access to a place where freelancers, small business owners, and solo-preneurs can find the goods and services they need to lauch thier business.. (and heres the difference).. without paying for them 🤯 but instead <strong>swapping it</strong> for something they can offer in return.
        </p>
    </div>
    <div class="col-12 text-center ">
        <p>Once you've signed up you'll find yourself in profile. Spend a bit of time here making sure all the details are right</p>
        <p>⬇︎</p>
        <p>Make a listing.. or two... or three </p>
        <p>⬇︎</p>
        <p>Send it out for the world (okay, the other users on this site) to see!</p>
        <p>⬇︎</p>
        <p>Search Listings to see what people are looking for (ie - what you can swap for!) </p>
        <p>⬇︎</p>
        <p>Found something? Awesome! Reach out! Say Hi - make a trade!</p>
        <p>⬇︎</p>
        <p>Grow each others businesses! To the benefit of all</p>
        <h3>🎉</h3>
    </div>
</div>
{% endblock %}