{% extends 'base.html' %}

{% block content %}
<h5>Ex:Change :</h5>
<p>1. Ex: a prefix meaning “out of,” “from,” and hence “utterly,” “thoroughly,” and sometimes meaning “not” or “without” or indicating a former title, status, etc.; freely used as an English formative: exstipulate; exterritorial; ex-president</p>

<p>2. Change: verb (used with object), changed, chang·ing.
to make the form, nature, content, future course, etc., of (something) different from what it is or from what it would be if left alone:
to change one's name;
to change one's opinion;
to change the course of history.</p>

<p>Or: noun, change.
coins as opposed to paper currency.
"a handful of loose change"</p>

<h1> So what is this app all about then...? </h1>


<p>
As solo entrepreneurs, freelancers and side hustlers, money for setup and launch is fairly small. However, the range of things you can spend this small amount of money on is seemingly endless. No longer do you need a website, you also need SEO, an Instagram and Facebook presence, constant interaction with your hard-earned followers. And it’s not enough to take basic photos of your product - you need a photoshoot, professionally staged, and then someone to edit these photos before they go online. Caterers to feed the attendees at launch parties, staff to help you man the tent when selling at markets or festivals. 
Suddenly - the cost of launching your passion with the impact it deserves is looking more and more unattainable. 
If only we had the budget of large corporates - right? 
</p>
<p>
Wrong.
</p>
<p>
What we, small business owners, contractors and entrepreneurs have, is range of products and services we "can offer". 
</p>
<p>
Our businesses may be in photography, catering, flower arrangement, recruitment, web development. And the multiskilled people we are - our skill sets will often branch out beyond that of our core business. The photographer who can retouch photos in a second in lightroom, the chef who is also a sound business management coach. 
</p>
<p>
What if we could swap our products and services, in return for those we need? If you've been to a networking evening, you'll be familiar with the format - What’s are you after, what is your "ask"? And what can you "offer" in return?
</p>
<p>
That is the basis for this app- a place where people can post for the things they need, and what they can swap for it in return. 
</p>

{% endblock %}