{% extends 'base.html' %}


{% block content %}
<!---------------------------------------------------------------------------------------------------------------------------------------->

{% if messages %}
            <br><br><br>
            <div class="alert alert-success">
                <div class="messages">
        
                    {% for message in messages %} 
                        {{ message }} 
                    {% endfor %}
                </div>
            </div>
  {% endif %}

<div class="row">
    <div class="col-sm-4 panel border-right ">
        <div class="row border-bottom">
        <div>
            <h2> Hi {{ user.first_name }}!</h2> 
        </div>
        <div>
            <p>Edit your personal or company details here (below). On the right you can add and manage your business listings in the "My Listings" section, or see all the Listings in the Exchange </p>
        </div>
        
        <div>
            <div>
                <form role="form" method="POST" id="edit_profile" action="{% url 'edit_profile' profile.id %}">
                    {% csrf_token %}
                    <div class="form-group ">
                        <input class=" btn btn-outline-dark" id="profile_detail_btn" name="profile_detail" type="submit" value="Edit Personal Details">
                    </div>
                </form>
                
                <form role="form" method="POST" id="company_detail" action="{% url 'company_detail' company.id %}">
                    {% csrf_token %}
                    <div class="form-group ">
                        <input class=" btn btn-outline-dark" id="company_detail_btn" name="company_detail" type="submit" value="Company Details">
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="row  ">
        <div>
            <div>
                <h2>See what others are saying about you:</h2>
                <h5>Overall Rating:</h5>
                
                {% for key, value in avg_rating.items %}
                <p>{{ value }}</p>
                {% endfor %}    
            </div>
            <div>
                <h5>Recent Reviews</h5>
            </div>
        </div>
            {% for review in reviews %}
              <div class="col">
                    <h6>{{ review.created_by }}</h6>
                    <h6>Rating: {{ review.rating }}</h6>
                    
                    <p>"{{ review.content|truncatewords:20 }}"</p>
                    <h1></h1>
              </div>
             {% endfor %}
        </div>
    </div>
<!---------------------------------------------------------------------------------------------------------------------------------------->
    
    <div class="col-sm-8 listingspanel">
        <div class="row ">
            <h1> See all Listings in the Exchange: </h1>
        </div>
        <div class=" row card-spacing">
            <a href="{% url 'exchange' %}" class="btn btn-outline-dark" role="button">See the Exchange</a>

        </div>
        <div class="row border-top ">
            <h1> My Listings </h1>
        </div>
        <div class=" row card-spacing">
            <a href="{% url 'listing' %}" class="btn btn-outline-dark" role="button">Add a New Listing</a>

        </div>
        <div class="row">
            {% for listing in listings %}
              <div class="col-md-4">
                <div class="card mb-3">
                  <img class="card-img-top" src="{{ MEDIA_URL }}{{ listing.image }}" alt="Card image cap">
                  <div class="card-body">
                    <a href=""><h4 class="card-title">{{ listing.title }}</h4></a>
                    <p class="card-text">{{ listing.content|truncatewords:20 }}</p>
                    <form role="form" method="POST" id="listing_detail" action="{% url 'listing_detail' listing.id %}">
                        {% csrf_token %}
                        <div class="form-group ">
                            <input class=" btn btn-outline-dark btn-sm" id="listing_detail_btn" name="listing_detail" type="submit" value="See Detail">
                        </div>
                    </form>
                    
                  </div>
                  <div class="card-footer">
                  </div>
              </div>
              </div>
              {% endfor %}
           
        </div>
    </div>
<!---------------------------------------------------------------------------------------------------------------------------------------->
    
</div>
{% endblock %}

