{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile {% endblock %}

{% block page_heading %}{{ user }}'s Profile {% endblock %}

{% block content %}
<p> {{ profile.email }} </p>



<div>
    <h1>Edit Profile</h1></h1>
    <div>
        
        
        <form role="form" method="POST" id="edit_profile" action="{% url 'edit_profile' profile.id %}">
            {% csrf_token %}
            <div class="form-group ">
                <input class=" btn btn-primary" id="profile_detail_btn" name="profile_detail" type="submit" value="Edit Personal Details">
            </div>
        </form>
        
        <form role="form" method="POST" id="company_detail" action="{% url 'company_detail' company.id %}">
            {% csrf_token %}
            <div class="form-group ">
                <input class=" btn btn-primary" id="company_detail_btn" name="company_detail" type="submit" value="Company Details">
            </div>
        </form>
    </div>
</div>

<h1> My Listings </h1>

<div class="row row-flex">
    {% for listing in listings %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div>
                    <img class="listing" src="{{ MEDIA_URL }}{{ listing.image }}">
                </div>
                <h3>{{ listing.title }}</h3>
                <p class="listing-content">{{ listing.content }}</p>
            </div>
            <div>
        <form role="form" method="POST" id="listing_detail" action="{% url 'listing_detail' listing.id %}">
            {% csrf_token %}
            <div class="form-group ">
                <input class=" btn btn-primary" id="listing_detail_btn" name="listing_detail" type="submit" value="See Detail">
            </div>
        </form>
    </div>
        </div>
    {% endfor %}
</div>

<p><a href="{% url 'listing' %}">New Listing</a></p>


{% endblock %}