

<!--Scripts in head local only to register page - reduce overhead-->
{% extends 'base.html' %}
{% load static from staticfiles %}
{% block head_js %}

<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>


{% endblock head_js%}

{% block page_heading %}New User SignUp{% endblock %}

{% block content %}
<p> If you already have an accout you can sign in <a href="{% url 'login' %}">here</a></p>

<form method="POST">
        {% csrf_token %}
        {{ registration_form.as_p }}
    <button type = "submit"> Register </button>
</form>

{% endblock %}
