
{% extends 'base.html' %}

{% block content %}
<div class="row top-panel"></div>
    <div class="row justify-content-center">
        <div class="col-4 title">
            Ex:Change
        </div>
    </div>
<div class="row bottom-panel no-gutters"></div>       

    <div class="row">
        <div class="col-md-4 align-self-start navpanelcolnopadding">
            <a href="{% url 'about' %}">
                <div id="about" class="navpanel about"><span>ABOUT </span></div>
            </a>
        </div>
        
        <div class="col-md-4 text-center navpanelcolnopadding">
            <a href="{% url 'register' %}">
                <div id="register" class="navpanel register text-center"><span class="">REGISTER </span></div>
            </a>
        </div>
        
        <div class="col-md-4 navpanelcolnopadding ">
            <a href="{% url 'login' %}">
                <div id="login" class="navpanel login float-right"><span class = "">LOGIN </span></div>
            </a>
        </div>
        
    </div>
{% endblock %}

